/*Global styles
------------------------*/
body{
    color: #343434;
}

img{
    width: 300px;
}


/*Profile
------------------------*/
header{
    background: #2f3061;
}

/*projects
------------------------*/

/*work experience 
------------------------*/

/*Education
------------------------*/

/*Contact Info
------------------------*/