/* Body
------------------------*/

body{
    background: #f6f6f6;
}

/* Home
------------------------*/
.home{
    background: url(../sharon-mccutcheon-unsplash.jpg) no-repeat;
    background-size: cover;
}
.home .content-wrapper{
    background: rgb(255 255 255 / 0.9);
}

/* Footer
------------------------*/
footer{
    background: #222;
    color: #d3d4d6;
}
